<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    
	<typeAliases>
		<typeAlias type="com.fh.entity.system.Menu" alias="Menu"/>
		
		<typeAlias type="com.fh.entity.faultManagement.historyAlarm.DeviceType" alias="DeviceType"/>
		
		<typeAlias type="com.fh.entity.faultManagement.historyAlarm.DbAlarmLog" alias="DbAlarmLog"/>
		
		<typeAlias type="com.fh.entity.faultManagement.historyAlarm.OptionQueryAlarm" alias="OptionQueryAlarm"/>
		
		<typeAlias type="com.fh.entity.faultManagement.historyAlarm.HistoryAlarmPieChartData" alias="HistoryAlarmPieChartData"/>
		
		<typeAlias type="com.fh.entity.PageData" alias="pageData"/>
		
		<typeAlias type="com.fh.entity.Page" alias="page"/>
	</typeAliases>
	
</configuration>