<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AlarmAttributeMapper">

	<resultMap id="alarmAttributeEntityMap" type="com.fh.entity.alarmAttr.AlarmAttributeEntity">
		<result property="deviceType" column="deviceType" />
		<result property="alarmCode" column="alarmCode" />
		<result property="alarmType" column="alarmType" />
		<result property="alarmSeverity" column="alarmSeverity" />
		<result property="alarmDescription" column="alarmDescription" />
		<result property="alarmCause" column="alarmCause" />
		<result property="alarmCause_en" column="alarmCause_en" />
		<result property="treatment" column="treatment" />
		<result property="addition" column="addition" />
		<result property="limitStrategy" column="limitStrategy" />
		<result property="autoClearEnable" column="autoClearEnable" />
		<result property="autoClearTimeout" column="autoClearTimeout" />
		<result property="alarmSuppress" column="alarmSuppress" />
		<association property="alarmServerityEntity" javaType="com.fh.entity.alarmAttr.AlarmServerityEntity">
			<result property="alarmServerityName" column="alarmServerityName" />								
		</association>
		<association property="alarmTypeEntity" javaType="com.fh.entity.alarmAttr.AlarmTypeEntity">
			<result property="alarmTypeName" column="alarmTypeName" />								
		</association>
	</resultMap>

	<!--表名 -->
	<sql id="tableName">
		alarm_attr
	</sql>
	
	<sql id="typeTableName">
		alarm_type
	</sql>
	
	<sql id="severityTableName">
		alarm_severity
	</sql>

	<!-- 字段 -->
	<sql id="field">
		alarm_attr.deviceType,
		alarm_attr.alarmCode,
		alarm_attr.alarmType,
		alarm_attr.alarmSeverity,
		alarm_attr.alarmDescription,
		alarm_attr.alarmCause,
		alarm_attr.alarmCause_en,
		alarm_attr.treatment,
		alarm_attr.addition,
		alarm_attr.limitStrategy,
		alarm_attr.autoClearEnable,
		alarm_attr.autoClearTimeout,
		alarm_attr.alarmSuppress,
		alarm_type.name as alarmTypeName,
		alarm_severity.name as alarmServerityName
	</sql>

	<!-- 字段值 -->
	<sql id="fieldValue">
		#{deviceType},
		#{alarmCode},
		#{alarmType},
		#{alarmSeverity},
		#{alarmDescription},
		#{alarmCause},
		#{alarmCause_en},
		#{treatment},
		#{addition},
		#{limitStrategy},
		#{autoClearEnable},
		#{autoClearTimeout},
		#{alarmSuppress}
	</sql>
	
	<!-- 暂时没有分页的处理 -->
	<select id="listAlarmAttribute" parameterType="page" resultMap="alarmAttributeEntityMap">
		select
			<include refid="field"></include>
		from 
			<include refid="tableName"></include>
		join
			<include refid="typeTableName"></include>
		on
			alarm_attr.alarmType = alarm_type.id
		join
			<include refid="severityTableName"></include>
		on
			alarm_attr.alarmSeverity = alarm_severity.id
	</select>
	
	<!-- 新增告警属性信息  -->
	<insert id="saveAlarmAttribute" parameterType="pageData">
		insert into
		<include refid="tableName"></include>
		values(<include refid="fieldValue"></include>)
	</insert>
	
	<!-- 修改告警属性信息 -->
	<update id="editAlarmAttribute" parameterType="pageData">
		update 
		<include refid="tableName"></include>
		set 
			alarmType=#{alarmType},
			alarmSeverity=#{alarmSeverity},
			alarmDescription=#{alarmDescription},
			alarmCause=#{alarmCause},
			treatment=#{treatment},
			addition=#{addition},
			limitStrategy=#{limitStrategy},
			autoClearEnable=#{autoClearEnable},
			autoClearTimeout=#{autoClearTimeout},
			alarmSuppress=#{alarmSuppress}
		where
			deviceType=#{deviceType},
			alarmCode=#{alarmCode}
	</update>
	
	<delete id="deleteAlarmAttribute" parameterType="pageData">
		delete from 
		<include refid="tableName"></include>
		where 
			deviceType=#{deviceType},
			alarmCode=#{alarmCode}
	</delete>

</mapper>